body {
  background-color: lightyellow;
  word-wrap: break-word;
}
#set {
  text-align: center;
}
.titleplace {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin-top: 100px;
}
.placedescription {
  font-size: 20px;
}

#holiday {
  font-size: 22px;
  border: 2px solid orange;
  margin: 6px;
  background-color: orange;
  width: 20%;
  border-radius: 10px;
  padding: 7px 6px;
}

#holiday:hover {
  background-color: turquoise;
}

.inputcity {
  border: 2px solid black;
  margin: 10px 200px;
  background-color: white;
  border-radius: 3px;
}
input[type="text"] {
  font-size: 40px;
  margin: 0px;
  outline: none;
  padding: 7px 20px;
  width: 85%;
  background-color: white;
}

#info {
  text-align: center;
  font-size: 30px;
  background-color: aquamarine;
}
ul {
  font-size: 23px;
}
#points{
  margin-top: 6px;
}
.actualdata{
  display: flex;
  border: 2px solid black;
}
#next_button {
  font-size: 22px;
  border: 2px solid orange;
  margin: 6px;
  background-color: orange;
  width: 15%;
  border-radius: 10px;
  padding: 5px 6px;
}

#next_button:hover {
  background-color: turquoise;
}

#backhome {
  border: 2px solid orange;
  font-size: 22px;
  border: 2px solid orange;
  background-color: orange;
  padding: 2px 4px;
  text-decoration: none;
  color: black;
}

#backhome:hover {
  background-color: turquoise;
}


